{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Bizimle İletişime Geçin📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">Herhangi bir soru ve öneriniz varsa bizimle iletişime geçin. Yardımcı olmaktan mutluluk duyarız.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>İsmail Üstek</h3>
                <p class="lead" style="font-weight: 350;">Bilişim sistemleri Ve Teknolojisi 4.sınıf öğrencisiyim</p>
            </center>
            <div>
                <h5>Sosyal Medya Hesaplarımız:</h5><br>
                <a target="_blank" href='ismailustek@gmail.com'><img
                        src="" height="40" width="40"></a> :
                ismailustek@gmail.com<br><br>
                <a target="_blank" href='https://github.com/ismmailustek'><img
                        src="" height="40" width="40"></a> :
                ismailustek<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/ismailustek'><img
                        src="" height="40" width="40"></a> :
                ismailustek<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Turgut Arif</h3>
                <p class="lead" style="font-weight: 350;">Üniversite Hazırlık Öğrenci
                </p>
            </center>
            <div>
                <h5>Sosyal Medya Hesaplarımız:</h5><br>
                <a target="_blank" href='turgutarif@gmail.com'><img
                        src="" height="40" width="40"></a> :
                turgutarif@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/turgutarif/'><img
                        src="" height="44" width="44"></a> :
                turgutarif<br><br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}